# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
*.swp
*~
._*

# IDE
.idea/
*.code-workspace
